/* Custom styles */
body {
    font-family: "Poppins", sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #333;
    scroll-behavior: smooth;
    background-image: url('gifymify.jpg');
    background-size: cover;
    position: relative;
    height: 100%;
}

.container img {
    height: 150px;
    /* Set a fixed height for the GIFs */
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    margin-bottom: 20px;
}
.loader {
    display: none;
    text-align: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.loader img {
    width: 250px;
    height: 250px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.container img {
    width: 100%;
    border-radius: 5px;
}

.footer {
    text-align: center;
    position: relative;
    top: 40px;
    width: 99%; 
    border-top: 2px solid #999999;
}

.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.dark-mode-toggle label {
    color: #333;
    margin-left: 5px;
    cursor: pointer;
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.dark-mode-toggle label i {
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    padding: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked+label i {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

body.dark-mode {
    background-image: url('gifymifynight.jpg');
}

.dark-mode .search-container input[type="text"] {
    background-color: #333;
    color: #eee;
}

.dark-mode .search-container button,
.dark-mode .dark-mode-toggle label {
    color: #222;
}

.dark-mode .footer {
    border-color: #fdfbfb;
    color:#fff;
}
.dark-mode h1{
    color: #fff;
}
